
@import url(https://fonts.googleapis.com/css?family=Lato);

:root{
  --bg-color-: #f3f3f3;
  --bg-tarjet: #e0ede5dc;
  --bg-aside: #0f0f0f;
  --color-secundario: #7e1414;
  --color-svh: #4E9F3D;
  --txt-color: #030303;
  --bg-slider: #383a38;
  --bg-orange: #fbaf32;
  --txt-color-aside: #ddd;
}

[data-theme = 'oscuro'] {
  --bg-color: #3f3f3f;
  --bg-tarjet: #f5f5f5;
  --txt-color: #cbcaca;
}

 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  background: var(--bg-color);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  overflow-x: hidden;
}

 /* Navbar */

.navbar{
  position: fixed;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-secundario);
  z-index: 50;
} 

.navbar span{
  font-size: 1.2rem;
}
  /*  Indice */

.indice{
  margin-left: 15px;
  font-size: larger;
}

.indice a{
  text-decoration: none;
  color: rgb(221, 211, 211);
  text-transform: uppercase; 
}

 /* Boton Dark */

#toggle-label{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 26px;
  width: 60px;
  border-radius: 16px;
  margin-right: 20px;
  background-color: #3e3c46bb;
  padding: 2px 2px 0 2px;
  position: relative;
}

#toggle{
  width: 0;
  height: 0;
  opacity: 0;
}

.slider{
  position: absolute;
  top: 0;
  left: 0;
}

.slider::before{
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--bg-slider);
  top: -1px;
  left: -1px;
  box-shadow: #3498db 0 0 5px;
  transition: .4s;
}

input:checked + .slider::before{
  transform: translateX(36px);
}

  /* Hero */
  
.hero{
  background-image: url(/imagenes/back/fondoHam.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  height: 5%;
  color: var(--txt-color);
  padding-top: 20rem;
}

.hero .titulo{
  font-size: 40px;
}
  /* Buscador */

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
  margin: auto;
 }
 
 .search {
  width: 100%;
  height: 30px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  margin-bottom: 5px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
 }
 
 .search::placeholder {
  color: #9e9ea7;
 }
 
 .search:focus, search:hover {
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
 }
 
 .icon {
  position: absolute;
  left: .6rem;
  top: .5rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
 }

  /* --------------------------- */

/* ---- carrito ---- */

.container-carrito{
  position: absolute;
  right: 120px;
}

.carrito{
  width: 40px;
  height: 38px;
  cursor: pointer;
}

#carrito:hover{
  margin-bottom: 6px;
  transition-duration: .3s;
} 

.productos-carrito{
  position: absolute;
  text-align: center;
  top: 52px;
  right: -110px;
  background: rgb(211, 207, 207);
  padding: 0 18px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0, 0, 0 / 20%);
  font-size: 15px;
  min-width: 290px;
}

.productos-carrito > h3{
  margin-top: 10px;
  padding: 3px;
}

.cont-pedidos{
  max-height: 250px;
  contain: content;
  overflow-y: scroll;
}

  /* Personalizacion barra Scroll */

.cont-pedidos::-webkit-scrollbar{
  width: 5px;
}

.cont-pedidos::-webkit-scrollbar-thumb{
  background: #fbaf32;
  border-radius: 5px;
  margin-left: 5px;
}

#btn-cerrar{
  position: absolute;
  right: 2px;
  top: 2px;
  background: #ff5858;
  color: #cae0e2; 
  border-radius: 50%;
  border: none;
  width: 20px;
  height: 20px;
  font-weight: bolder;
  cursor: pointer;
}

tr > td{
  padding: 5px;
  margin: auto;
  max-height: 30px;
  max-width: 150px;
  border-bottom: solid .3px #9b9a98;
}

.titulo-producto{
  font-weight: 900;
  color: #133348;
  height: 5px;
}

.precio-producto{
  color: #4E9F3D;
  font-weight: 900;
}

.cantidad-producto{
  font-weight: 900;
  color: #133348;
  height: 5px;
}

#contador{
  position: absolute;
  top: 6px;
  right: 12px;
  color: #fff;
  cursor: pointer;
}

.eliminar-producto{
  text-decoration: none;
  color: #fff;
  background-color: darkred;
  border-radius: 15%;
  font-weight: bold;
  padding: 2px 5px;
}

.precio-total{
  color: #133348;
}

.vaciar{
  background: #c12206;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  height: 25px;
  padding: 0 5px;
  margin-bottom: 5px;
  font-weight: 900;
  color: #fff;
}

.btn-pago{
  background: #4E9F3D;
  border: none;
  border-radius: 5px;
  height: 25px;
  padding: 0 9px;
  margin-left: 9px;
  font-weight: 900;
  color: #fff;
}

  /* ---- Final Carrito ---- */

  
.btn-agregar{
  text-decoration: none;
  color: #f8eded;
}

   /*  Logos Redes Sociales  */
   
.social-media {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding-top: 7rem;
  align-items: flex-start;
  height: 100px;
}

.social-media a{ 
  text-decoration: none;
  color: inherit;
  margin: 18px;

}

.social-media a svg {
  width: 1.6rem;
  fill: currentColor;
}

  /*  -------------------  */

  
    /*   Menú Hamburguesa   */

#panel-btn{
  position: fixed;
  z-index: 200;
  bottom: 1.5rem;
  left: 95%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0;
  background-color: var(--color-svh);
  color: #030303;
}

   /*  -------------------------  */

   /*   Panel Aside */

.panel{
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-aside);
  transform: translate(-60%, 0);
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease;
}

.panel.is-active{
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}

.menu{
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

ul {
  list-style-type: none;
} 

.menu a {
  position: relative;
  width: inherit;
  display: flex;
  justify-content: center;
  padding: 3rem;
  font-size: 1.9rem;
  font-family: Lato, sans-serif;
  color: var(--txt-color-aside);
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s ease;
} 

.menu a:after{
  position: absolute;
  content: "";
  top: 80%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
}

.menu a:hover {
  color: #95a5a6;
}

.menu a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}


    /* Contenido Tarjetas */

.contenedor-productos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 90%;
  }

.producto{
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 90%;
  text-align: center;
 }

 .producto h3{
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--color-txt);
  margin: 15px 0;
 }


.card{
  width: 220px;
  height: 360px;
  margin: 22px 10px;
  padding: .8em;
  border-radius: 5px;
  background: var(--bg-tarjet);
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
   
.card-img {
  background-color: #292827;
  height: 50%;
  width: 100%;
  border-radius: .3rem;
  transition: .3s ease;
}
   
.card-info {
  margin: 10% 0;
  height: 75px;
}
   
.producto svg {
  width: 25px;
  height: 25px;
  background: #5dcf89;
  border-radius: 50%;
}
   
.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
   
    /* Texto */

.text-title {
  font-weight: 900;
  font-size: 1.1em;
  line-height: 1.2;
  padding-bottom: 5px;
}
   
.text-body {
  font-size: .85em;
  margin-bottom: 5px;
}
   
    /* Button */

.btn-agregar {
  background-color:  #5dcf89;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
  text-decoration: none;
}

.filter{
  visibility: hidden;
  opacity: 0;
  order: 1;
}

footer{
  border-top: 1px solid #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-top: 40px;
}
   
    /* Hover */

.card-img:hover {
  transform: translateY(-5%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
   
.btn-agregar:hover {
  background-color: #5dcf89;
}
   